<!-- <!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block css %}{% endblock %}
{# background-color: #aaa #}
<body style="background-color: #000;">
<nav class="navbar bg-primary navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="/">D-BBS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>

            <div class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/post/add">发布</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ user }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">退出</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">登录</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/register">注册</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-3">
    {% block content %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

{% block js %}{% endblock %}
</body>
</html> -->


{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Pet Care Store{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="https://1cca43537b.cbaul-cdnwnd.com/d2229193a4ad71a973f7a0ece7541214/200000001-009390093c/450/1a227e2883d74e1fb5bfbb88219dd0b5.webp" alt="Logo" width="60" height="60" >
                    Pet Care Store
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-grid gap-2 d-md-block" id="navbarCollapse">


                    <a type="button" role="button" class="btn btn-outline-success" href="">Sign In</a>
                    <a type="button" role="button" class="btn btn-outline-success" href="">Sign Up</a>

                </div>

            </div>
        </nav>
    </header>


    

    <div class="container">
        <footer class="py-3 my-4">
          <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
        </footer>
      </div>
</body>


</html>